body {
  padding: 0%;
  margin: 0%;
  font-family: Arial, Helvetica, sans-serif;
}
.true {
  text-decoration: line-through;
}

.delete {
  transform: translateX(500px);
  transition-duration: 1s;
}

.delete,
.newitem {
  display: flex;
}
#listview {
  margin-top: 20px;
}
#listView > :nth-child(2n + 1) {
  background-color: rgb(241, 253, 253);
}

.newitem > button {
  background-color: pink;
  font-size: 0.9rem;
  border-radius: 5px;
  box-shadow: 1px 1px 5px 0.4px red;
}
.delete > :nth-child(n),
.newitem > :nth-child(n) {
  border: 5px;
  margin: 10px;
  padding: 5px;
}
.delete > :nth-child(2),
.newitem > :nth-child(2) {
  width: 450px;
  overflow: scroll;
}
#search {
  position: sticky;
  top: 0px;
  width: 100%;
  text-align: center;
  /* height: 100px; */
  background-color: blueviolet;
  padding: 10px;
}
#foot {
  position: fixed;
  bottom: 0px;
  background-color: blueviolet;
  padding: 10px;
  width: 100%;
  text-align: center;
}
#foot a {
  color: white;
  text-decoration: none;
}
#foot>a:hover{
    text-decoration: underline;
    font-family: cursive;
}
#search > h1 {
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 100;
  font-style: italic;
  font-family: Georgia, "Times New Roman", Times, serif;
  letter-spacing: 1px;
}
#search > div {
  display: flex;
  align-items: center;
  justify-content: center;
}
#search > div > input {
  padding: 7px 20px;
  font-size: 1.1rem;
  border-radius: 10px;
  border: none;
  outline: none;
  outline: darkcyan;
  color: rgb(40, 0, 40);
}
#search > input:focus-within {
  background-color: rgb(255, 255, 255);
}

#search > div > button {
  padding: 7px 20px;
  font-weight: bold;
  font-size: 1.1rem;
  margin-left: 10px;
  background-color: pink;
  border-radius: 13px;
  color: rgb(49, 2, 2);
  border: 1px solid rgb(230, 55, 189);
  box-shadow: 0.1px 0.1px 4px 0.1px white;
  font-family: cursive;
}
#search > div > button:hover {
  color: white;
  background-color: green;
  box-shadow: 0.1px 0.1px 4px 0.1px white;
  border: 1px solid transparent;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media all and (min-width: 180px) and (max-width: 580px) {
  .delete > :nth-child(2),
  .newitem > :nth-child(2) {
    width: 250px;
  }
}
